@import "fonts";

//==========================================================
// Сброс стилей
//==========================================================
* {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

li {
  list-style: none;
}
body {
  padding: 0;
  margin: 0;
}

//==========================================================
// Переменные
//==========================================================
$md1: 1399.98;
$md2: 991.98;
$md3: 767.98;
$md4: 575.98;


//==========================================================
// Общие стили
//==========================================================
.el-popconfirm {

  &__main {
    font-family: Manrope, sans-serif;
    color: #6A6A6A;
    line-height: 18px;

    & .el-icon {
      display: none;
    }
  }

  &__action {
    margin-top: 10px !important;
  }

  .el-button {
    font-family: Manrope, sans-serif !important;
    border: none !important;

    &--primary {
      background-color: #1454F2 !important;
      transition: background-color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          background-color: #7AA0FF !important;
        }
      }
    }

    &--text {
      color: #6A6A6A;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: #1454F2 !important;
        }
      }
    }
  }
}

