@import "fonts";

* {
  margin: 0;
  padding: 0;
}

.el-popper__arrow::before {
  width: 0 !important;
  display: none !important;
}

.el-popper.is-dark {
  //background: #1454F2 !important;
  background: linear-gradient(180deg, #7ea8fc 0%, #2662f3 100%) !important;
}

.el-popper {
  padding: 10px 20px;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  // inset: 0px auto auto -8px !important;
  font-size: 12px;
  line-height: 20px;
  color: #FFFFFF;
  border-radius: 200px;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  display: none;
}

.el-table__body-wrapper {
  .el-table__cell {

    .cell {
      font-family: Ubuntu;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #2A2A2A;
      box-sizing: border-box;
      padding-top: 20px !important;
      padding-bottom: 10px !important;

      display: flex;
      gap: 8px;
    }

    //height: 120px;
  }

  .el-table__row {
    //height: 120px;
    box-sizing: border-box;
  }
}

.el-table .el-table__cell {
  padding: 0 0 !important;
  box-sizing: border-box;
  background-color: transparent !important;
}

.el-table th.el-table__cell.is-leaf {
  border-bottom: none !important;
}

.el-table__header {
  height: 46px;

  > thead {
    > tr {
      //background: linear-gradient(195.87deg, rgba(0, 67, 255, 0.04) 11.06%, rgba(0, 67, 255, 0) 88.93%);
      background: linear-gradient(180.87deg, rgba(0, 67, 255, 0.08) 11.06%, rgba(0, 67, 255, 0) 88.93%);

      > th {
        height: 46px;
        font-family: Ubuntu;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        color: #07103A;
      }

      .el-table th.el-table__cell.is-leaf {
        border-bottom: transparent !important;
      }
    }
  }
}

.el-pagination {
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.el-button + .el-button {
  margin-left: 0 !important;
}

.el-button{
  >span{
    display: flex;
    align-items: center;
  }
}

.el-switch__core {
  height: 16px !important;
}

.el-switch__action {
  width: 12px !important;
  height: 12px !important;
}

.el-switch.is-checked .el-switch__core .el-switch__action {
  margin-left: calc(3px - var(--el-switch-button-size)) !important;
}

.el-dialog {
  border-radius: 24px !important;
  margin-top: 30px !important;
}

.el-dialog__header {
  padding-top: 24px !important;
  padding-bottom: 0px !important;
}

.el-dialog__header::after {
  content: ' ';
  width: 292px;
  height: 2px;
  display: block;
  background: #1454F2;
  border-radius: 2px;
  margin: 14px auto 0;
}




